.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 700px;
    min-height: 800px;
    height: auto;
    background-color: #C4C4C4;
    font-family: Helvetica, sans-serif;
}
.container__input{
    margin: 20px auto;
    width: 500px;
    height: 65px;
    padding-left: 10px;
    font-size: 25px;
}
.container-list{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-list-repos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    width: 500px;
    height: 100px;
    border: solid 2px black; 
    background-color: #E27BEB;
}

.container-list-repos__button{
    width: 50px;
    height: 50px;
}